<div class = "row top_row">
  <div class="col-sm-6 user_att">
    <h2><%= @user.email%></h2>
    <% if @user.avatar_file_name %>
      <%= image_tag @user.avatar.url(:thumb) %>
    <% end %>
  </div>
  <div class="col-sm-6">
    <%= link_to 'Logout', log_out_path, class: ['btn', 'btn-danger', 'logout_btn'] %>
  </div>
  <div class="row">
    <%= link_to 'Add Photo', new_user_photo_path(@user), class: ['btn', 'btn-success', 'add_photo_btn'] %>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row" >

<% @user.photos.each  do |photo|  %>

<div class="well col-sm-4">
  <%= image_tag photo.image.url(:medium) %>
  <select name="user_id">
    <% @users.each do |u| %>
      <option value = "<%= u.id %>" >  <%= u.email %> </option>
      <% end %>
  </select>
</div>
<% end %>

</div>
